{% extends "base.html" %}

{% block title %}問い合わせ一覧{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}
    <h3 class="page-header">問い合わせの一覧</h3>
    {{ keyword }}
    {% include "search.html" %}
    
    <a href="{% url 'its:incident_add' %}" class="btn btn-default btn-sm">追加</a>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>ステータス</th>
          <th>受付日時</th>
          <th>受付種別</th>
          <th>場所</th>
          <th>依頼者</th>
          <th>連絡者</th>
          <th>件名</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for incident in incidents %}
        <tr>
          <td>{{ incident.id }}</td>
          <td>{{ incident.status }}</td>
          <td>{{ incident.datetime|date:"Y年Md日 H:m" }}</td>
          <td>{{ incident.entry_type }}</td>
          <td>{{ incident.location }}</td>
          <td>{{ incident.client }}</td>
          <td>{{ incident.contact }}</td>
          <td>{{ incident.title }}</td>
          <td>
            <a href="{% url 'its:incident_mod' incident_id=incident.id %}" class="btn btn-default btn-sm">修正</a>
            <a href="{% url 'its:incident_del' incident_id=incident.id %}" class="btn btn-default btn-sm">削除</a>
            <a href="{% url 'its:support_list' incident_id=incident.id %}" class="btn btn-default btn-sm btn-primary">対応の一覧</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock content %}